 .todo-input-btn{
  background-color: rgb(24, 6, 131);
  padding: 5px;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  font-weight: 400;
  font-size: small;
  min-width: 50px;
}
.todo-input{
  width: auto;
  padding: 0px 15px;
}
.todo-box{
  background: #5d4baf;
  width: 100%;
}
.todo-lists{
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  margin: 0.3em;
} 
.todo-container{
  width: 100%;
  background-color: rgb(32, 12, 70);
 }
.btn-container{
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.create-todo{
  display: flex;
  align-items: start;
  flex-direction: column;
  width: auto;
  gap: 10px;
  padding: 1em;
}
.bg-prime{
  background-color: rgb(62, 63, 143);
} 