.todo-input-btn{
  background-color: rgb(52, 22, 173);
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-shadow: 1px 1px 3px rgb(243, 35, 243);
  font-weight: 200;
  font-size: small;
}
.todo-input{
  width: 100%;
  padding: 0px 15px;
}
.todo-box{
  background: #337e20;
}
.todo-lists{
  display: flex;
  flex-direction: column;
  gap:5px;
  padding: 1em;
}
.todo-container{
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: rgb(0, 0, 0);
}
.btn-container{
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.create-todo{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  padding: 1em;
}
.bg-prime{
  background-color: rgb(65, 97, 34);
}